[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.1.3"
djangorestframework = "*"
django-environ = "*"
psycopg2--binary = "*"
pillow = "*"
djangorestframework-simplejwt = "*"
pyjwt = "==1.7.1"
pytest-django = "*"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.6"
